$bg-primary: #2f3337;
$bg-secundary: #e5e7eb;
$bg-menu:#0000EC;
$color: #060A24;
$color_two: white;
$color_active: rgba(6,10,36,0.56);
$bottom_1: #00F3BB;
$fuente_1: 'IBM Plex Sans', sans-serif;
$fuente_2: 'IBM Plex Mono', monospace;