header {
  width: 100%;
  height: 70px;
  top: 0px;
  padding: 10px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2F3337;
}

header .searcher {
  display: none;
}

header h2 {
  color: white;
  padding-right: 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

header h2 a {
  text-decoration: none;
  color: white;
}

header nav {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu {
  padding-top: 3px;
  /*checkbox transparente y en primer plano*/
  /*span -lineas del menu hamburguesa-*/
}

header nav .menu ul {
  /*posicion absolute para que se posicione debajo del 
                     resto del header - top medida del header*/
  width: 100%;
  position: absolute;
  top: 70px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #f2f2f2;
  height: 0px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

header nav .menu ul li {
  position: relative;
  background: #2F3337;
}

header nav .menu ul li img {
  display: none;
}

header nav .menu ul li img.arrow-down {
  display: none;
}

header nav .menu ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 16px 5%;
  display: block;
}

header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 200px;
  transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out;
  z-index: 2;
}

header nav .menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}

header nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header nav .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
}

header nav .menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: white;
  z-index: 1;
  -webkit-transform-origin: 3px 0px;
          transform-origin: 3px 0px;
  -webkit-transition: opacity 0.55s ease,-webkit-transform 0.5s ease;
  transition: opacity 0.55s ease,-webkit-transform 0.5s ease;
  transition: transform 0.5s ease,opacity 0.55s ease;
  transition: transform 0.5s ease,opacity 0.55s ease,-webkit-transform 0.5s ease;
}

header nav .menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

header nav .menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
  header .searcher {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  header .searcher #search {
    background-color: #2F3337;
    margin-left: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: white;
  }
  header .searcher .lupa_trending {
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 25px;
    cursor: pointer;
  }
  header nav .menu ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    overflow: hidden;
    background: unset;
    height: unset;
  }
  header nav .menu ul li {
    padding: 5px 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #2F3337;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 15px;
  }
  header nav .menu ul li .perfil {
    background-color: #C4C4C4;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  header nav .menu ul li img {
    width: 25px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 20px;
  }
  header nav .menu ul li img.arrow-down {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
  }
  header nav .menu ul li a {
    color: white;
    padding: unset;
    line-height: unset;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    margin: 0px 8px;
  }
  header nav .menu input {
    display: none;
  }
  header nav .menu span {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  header .searcher {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  header .searcher #search {
    background-color: #2F3337;
    margin-left: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: white;
  }
  header .searcher .lupa_trending {
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 25px;
    cursor: pointer;
  }
  header nav .menu ul {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    overflow: hidden;
    background: unset;
    height: unset;
  }
  header nav .menu ul li {
    padding: 5px 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #2F3337;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 15px;
  }
  header nav .menu ul li .perfil {
    background-color: #C4C4C4;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  header nav .menu ul li img {
    width: 25px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 20px;
  }
  header nav .menu ul li img.arrow-down {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: pointer;
  }
  header nav .menu ul li a {
    color: white;
    padding: unset;
    line-height: unset;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    margin: 0px 8px;
  }
  header nav .menu input {
    display: none;
  }
  header nav .menu span {
    display: none;
  }
}

main {
  background-color: #E5E7EB;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .containerbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .containerbox .box {
  margin: 45px 0px 10px;
  background-color: white;
  width: 90%;
  height: 140px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 10px #b4b4b9;
          box-shadow: 2px 2px 10px #b4b4b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .containerbox .box a {
  text-decoration: none;
}

main .containerbox .box .parte-superior {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

main .containerbox .box .parte-superior .logotipo {
  -webkit-box-shadow: 2px 2px 10px #b4b4b9;
          box-shadow: 2px 2px 10px #b4b4b9;
  width: 55px;
  height: 59px;
  background-color: #26B4FF;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin-bottom: 100px;
}

main .containerbox .box .parte-superior .logotipo img {
  height: 30px;
  width: 30px;
}

main .containerbox .box .parte-superior h2 {
  font-size: 20px;
  color: #060A24;
  font-family: "Roboto", sans-serif;
  padding-left: 25%;
  width: 96%;
}

main .containerbox .box .parte-inferior {
  width: 100%;
  height: 34px;
  border-top: 0.5px solid #A7A7A7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
}

main .containerbox .box .parte-inferior img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

main .containerbox .box .parte-inferior p {
  font-size: 10px;
  padding-left: 5px;
  color: #9A9A9A;
}

main .companies {
  padding-top: 30px;
}

main .companies .headerlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

main .companies .headerlinks a {
  text-decoration: none;
}

main .companies .links2 {
  display: none;
}

main .companies .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 10px 0px 10px;
  width: 94%;
  margin: 20px 0 20px;
}

main .companies .links p {
  font-size: 13px;
  margin: 0px 7px;
}

main .companies .links img {
  height: 25px;
  width: 25px;
}

main .companies .formulario-stock {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

main .companies .formulario-stock .principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .companies .formulario-stock .principal img {
  width: 80%;
  height: 80%;
  margin: 50px 0 20px;
}

main .companies .formulario-stock .principal .decisiones2 {
  display: none;
}

main .companies .formulario-stock form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
}

main .companies .formulario-stock form div {
  width: 80%;
}

main .companies .formulario-stock form div p {
  font-size: 14px;
  margin-top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

main .companies .formulario-stock form div input {
  margin-top: 5px;
  padding-bottom: 3px;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  width: 120%;
  border-bottom: 0.5px solid #A7A7A7;
}

main .companies .documents-pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-top: 40px;
}

main .companies .documents-pdf h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

main .companies .documents-pdf div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8% 0%;
}

main .companies .documents-pdf div h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

main .companies .documents-pdf div img {
  width: 20px;
  height: 20px;
}

main .companies .decisiones {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .companies .decisiones .box-small {
  width: 230px;
  height: 55px;
  background-color: white;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

main .companies .decisiones .box-small img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

main .companies .decisiones .box-small h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

main .companies .last-box {
  display: none;
}

main .zoom {
  display: none;
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
  main {
    height: 91vmin;
    padding-top: 0px;
  }
  main .containerbox {
    padding: 3% 0px 0px 60px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 50%;
        grid-template-columns: 33% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .containerbox .box {
    cursor: pointer;
    width: 390px;
    height: 215px;
    margin: 20px 0px 30px 104px;
  }
  main .containerbox .box .parte-superior .logotipo {
    width: 75px;
    height: 75px;
    margin-bottom: 155px;
  }
  main .containerbox .box .parte-superior .logotipo img {
    height: 56px;
    width: 52px;
  }
  main .containerbox .box .parte-superior h2 {
    width: 410px;
    margin-top: 60px;
    font-size: 28px;
    line-height: 42px;
    font-weight: normal;
    padding-left: initial;
  }
  main .containerbox .box .parte-inferior {
    width: 390px;
  }
  main .containerbox .box .parte-inferior img {
    width: 19px;
    height: 19px;
    margin-right: 5px;
  }
  main .containerbox .box .parte-inferior p {
    font-size: 14px;
  }
  main .companies {
    width: 100%;
    margin: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .companies .headerlinks {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-left: 60px;
    margin-top: 30px;
  }
  main .companies .headerlinks p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }
  main .companies .links {
    display: none;
  }
  main .companies .links2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    width: 30%;
    margin: 20px 0 20px;
  }
  main .companies .links2 p {
    font-size: 14px;
  }
  main .companies .links2 img {
    height: 39px;
    width: 39px;
  }
  main .companies .formulario-stock {
    width: 940px;
    height: 730px;
  }
  main .companies .formulario-stock .documents-pdf {
    display: none;
  }
  main .companies .formulario-stock form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    margin-left: 60px;
  }
  main .companies .formulario-stock form input {
    margin-top: 13px;
    width: 85%;
  }
  main .companies .formulario-stock form .last-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 230px;
    height: 50px;
    -webkit-box-shadow: 3px 3px 7px #b4b4b9;
            box-shadow: 3px 3px 7px #b4b4b9;
    margin-top: 58px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 8px;
    cursor: pointer;
  }
  main .companies .formulario-stock form .last-box img {
    width: 30px;
    height: 35px;
    margin: 0%;
  }
  main .companies .formulario-stock form .last-box h2 {
    margin-left: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
  main .companies .formulario-stock .principal {
    width: 100%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 30%;
  }
  main .companies .formulario-stock .principal img {
    width: 290px;
    height: 237px;
  }
  main .companies .formulario-stock .principal .decisiones2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .companies .formulario-stock .principal .decisiones2 .box-small {
    width: 230px;
    height: 45px;
    background-color: white;
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 3px 4px #b4b4b9;
            box-shadow: 0px 3px 4px #b4b4b9;
    margin-top: 30px;
    margin-left: 50px;
  }
  main .companies .formulario-stock .principal .decisiones2 .box-small img {
    width: 30px;
    height: 30px;
    margin: 0px;
  }
  main .companies .formulario-stock .principal .decisiones2 .box-small h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-left: 14px;
  }
  main .companies .decisiones {
    display: none;
  }
  main .zoom {
    position: absolute;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(196, 196, 196, 0.54);
  }
  main .zoom .documents-pdf-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    width: 533px;
    height: 572px;
    background-color: white;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  main .zoom .documents-pdf-modal .close {
    width: 15px;
    height: 18px;
    margin-left: 90%;
    cursor: pointer;
  }
  main .zoom .documents-pdf-modal h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }
  main .zoom .documents-pdf-modal div {
    width: 100%;
    padding: 40px 40px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .zoom .documents-pdf-modal div h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }
  main .zoom .documents-pdf-modal div img {
    width: 30px;
    height: 40px;
  }
}

@media screen and (min-width: 1400px) {
  main .containerbox {
    padding: 70px 0px 0px 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 32% 32%;
        grid-template-columns: 32% 32%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .containerbox .box {
    cursor: pointer;
    width: 552px;
    height: 310px;
    margin: 20px 0px 65px 40px;
  }
  main .containerbox .box .parte-superior .logotipo {
    width: 108px;
    height: 115px;
    margin-bottom: 250px;
  }
  main .containerbox .box .parte-superior .logotipo img {
    height: 56px;
    width: 52px;
  }
  main .containerbox .box .parte-superior h2 {
    width: 410px;
    margin-top: 60px;
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    padding-left: initial;
  }
  main .containerbox .box .parte-inferior {
    height: 90px;
  }
  main .containerbox .box .parte-inferior img {
    width: 19px;
    height: 19px;
    margin-right: 5px;
  }
  main .containerbox .box .parte-inferior p {
    font-size: 14px;
  }
  main .companies {
    width: 100%;
    margin: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px 0px 0px;
  }
  main .companies .headerlinks {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-left: 60px;
    margin-top: 30px;
  }
  main .companies .headerlinks p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }
  main .companies .links {
    display: none;
  }
  main .companies .links2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    width: 30%;
    margin: 20px 0 20px;
  }
  main .companies .links2 p {
    font-size: 14px;
  }
  main .companies .links2 img {
    height: 39px;
    width: 39px;
  }
  main .companies .formulario-stock {
    width: 940px;
    height: 730px;
  }
  main .companies .formulario-stock .documents-pdf {
    display: none;
  }
  main .companies .formulario-stock form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    margin-left: 60px;
  }
  main .companies .formulario-stock form input {
    margin-top: 13px;
    width: 85%;
  }
  main .companies .formulario-stock form .last-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 230px;
    height: 50px;
    -webkit-box-shadow: 3px 3px 7px #b4b4b9;
            box-shadow: 3px 3px 7px #b4b4b9;
    margin-top: 58px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 8px;
    cursor: pointer;
  }
  main .companies .formulario-stock form .last-box img {
    width: 30px;
    height: 35px;
    margin: 0%;
  }
  main .companies .formulario-stock form .last-box h2 {
    margin-left: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
  main .companies .formulario-stock .principal {
    width: 100%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 30%;
  }
  main .companies .formulario-stock .principal img {
    width: 290px;
    height: 237px;
  }
  main .companies .formulario-stock .principal .decisiones2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .companies .formulario-stock .principal .decisiones2 .box-small {
    width: 230px;
    height: 45px;
    background-color: white;
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 3px 4px #b4b4b9;
            box-shadow: 0px 3px 4px #b4b4b9;
    margin-top: 30px;
    margin-left: 50px;
  }
  main .companies .formulario-stock .principal .decisiones2 .box-small img {
    width: 30px;
    height: 30px;
    margin: 0px;
  }
  main .companies .formulario-stock .principal .decisiones2 .box-small h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-left: 14px;
  }
  main .companies .decisiones {
    display: none;
  }
  main .zoom {
    position: absolute;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(196, 196, 196, 0.54);
  }
  main .zoom .documents-pdf-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    width: 533px;
    height: 572px;
    background-color: white;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  main .zoom .documents-pdf-modal .close {
    width: 15px;
    height: 18px;
    margin-left: 90%;
    cursor: pointer;
  }
  main .zoom .documents-pdf-modal h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }
  main .zoom .documents-pdf-modal div {
    width: 100%;
    padding: 40px 40px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .zoom .documents-pdf-modal div h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }
  main .zoom .documents-pdf-modal div img {
    width: 30px;
    height: 40px;
  }
}

* {
  padding: 0%;
  margin: 0%;
  border: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/*# sourceMappingURL=styles.css.map */